---
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";

---



<Layout title="Infos">
    <NavBar />
    <main class="py-16 px-4 md:px-16 lg:px-32 xl:px-[17.5%]">
        <h1 class="text-4xl">Infos</h1>
        <ul>
            <li>- Thumbnails werden alle 5 Minuten geupdated</li>
            <li>- Streams kommen direkt aus TUWEL</li>
        </ul>
    </main>
</Layout>